// $mint: #71cd9a;
// $orange: #e4540e;
// $slate: #3b3730;
// $lt-slate: #6e6d68;
// $off-white: #f2ebe1;
// $mid-brown: '#9C825E';

$newerWhite: #F1F0ED;
$newWhite: #E9E6DC;
$beige: #DDC9B8;
$camel: #C59564;
$taupe: #94877F;
$brown: #564231;
$darkestBrown: #1D1A18;
$terraCotta: #9A4D3A;

