@import "../../theme/colors.scss";

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: $newerWhite;
  font-family: 'Roboto Condensed', sans-serif;
}

body > #root > div {
  height: 100vh;
}

.Contact {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;

  &-formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-formText {
    padding: 0px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h1 {
      padding: 0px 12px 0px 12px;
      font-weight: 900;
      text-align: center; 
    }
    & h3 {
      text-align: center;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 32px 16px;
    & div {
      & label {
        display: flex;
        flex-direction: column;
        margin: 12px 0;
      }
    }
  }

  &-input, &-textarea {
    padding: 4px 4px;
    border: 1px solid $darkestBrown;
  }
  
  &-submit {
    width: 100%;
    display: flex;
    justify-content: center;

    &-button {
      background-color: $beige;
      height: 40px;
      width: 100px;
      color: $terraCotta;
      border-width: 0px;
      font-size: 1.25rem;
    }
  }
  
  &-loadingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    & h1 {
      text-align: center;
    }
  }

  &-loading {
    height: 100px;
  }

}

@media (min-width: 960px) {
  .Contact {
    &-header {
      display: none
    }
    &-form {
      padding-top: 40px
    }
  }

}